In [21]:
# This file is for pruning the original dataset 
# https://www.kaggle.com/smid80/coronavirus-covid19-tweets-late-april
# each file is about 250mb, adding up to around 2.03GB
# this file removes non-english tweets
# removes users with less than 500 followers
# removes tweets with less than 10 likes
# removes tweets with less than 10 retweets
# removes unnecessary columns: "created_at", "user_id", "reply_to_user_id", "is_quote", "place_full_name", "place_type", "account_lang", "account_created_at"

In [6]:
import pandas as pd
import glob

In [18]:
# this file is primarily to clean up the datasets that we have

path = "2020-*.csv"

datasets = []

for fname in glob.glob(path):
    datasets.append(fname)

In [22]:
datasets

['2020-04-16 Coronavirus Tweets.CSV',
 '2020-04-17 Coronavirus Tweets.CSV',
 '2020-04-18 Coronavirus Tweets.CSV',
 '2020-04-19 Coronavirus Tweets.CSV',
 '2020-04-20 Coronavirus Tweets.CSV',
 '2020-04-21 Coronavirus Tweets.CSV',
 '2020-04-22 Coronavirus Tweets.CSV',
 '2020-04-23 Coronavirus Tweets.CSV',
 '2020-04-24 Coronavirus Tweets.CSV',
 '2020-04-25 Coronavirus Tweets.CSV',
 '2020-04-26 Coronavirus Tweets.CSV',
 '2020-04-27 Coronavirus Tweets.CSV',
 '2020-04-28 Coronavirus Tweets.CSV',
 '2020-04-29 Coronavirus Tweets.CSV',
 '2020-04-30 Coronavirus Tweets.CSV']

In [23]:

for data in datasets:
    df = pd.read_csv(data)

    df = df.drop(["created_at", "user_id", "reply_to_user_id", "is_quote", "place_full_name", "place_type", "account_lang", "account_created_at"], axis=1)

    df = df[(df['lang'] == "en")]
    df = df[(df['followers_count'] >= 500)]
    df = df[(df['favourites_count'] >= 10)]
    df = df[(df['retweet_count'] >= 10)]

    df.to_csv("pruned-" + data, index=False)

In [25]:
# only run to combine the pruned datasets into a single csv

path = "pruned-*.csv"

li = []
for fname in glob.glob(path):
    df = pd.read_csv(fname, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [26]:
frame

,status_id,screen_name,text,source,reply_to_status_id,reply_to_screen_name,is_retweet,favourites_count,retweet_count,country_code,followers_count,friends_count,verified,lang
0,1250574629812473860,JAMA_current,Study suggests higher rates of co-infection be...,Sprinklr,NaN,NaN,False,1357,130,NaN,354174,805,True,en
1,1250574629355184128,NEJM,Gabriel Leung and colleagues from Hong Kong de...,Twitter for Advertisers,NaN,NaN,False,1019,91,NaN,693447,395,True,en
2,1250574629288267776,ajplus,"""It's too late for my dad. My dad's gone, and ...",Twitter Media Studio,NaN,NaN,False,2338,38,NaN,1107419,360,True,en
3,1250574629275447296,RFERL,"Belarusian President Lukashenka, fresh out of ...",Twitter Media Studio,NaN,NaN,False,219,10,NaN,91453,1037,True,en
4,1250574628927479808,AmerMedicalAssn,Today's #COVID19 update discusses how to care ...,Sprinklr,NaN,NaN,False,2941,11,NaN,720719,6895,True,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124348,1256010154539188226,thecableng,PHOTOS: Humans hide behind rams inside lorries...,Twitter for Android,NaN,NaN,False,2252,72,NaN,483813,3888,True,en
124349,1256010230338641921,DrSenait,Millions of children around the üåç will likely ...,Twitter for iPhone,NaN,NaN,False,43982,19,NaN,93055,260,True,en
124350,1256010240044290048,WellingMichael,#Venezuela Narco dictatorship of Maduro now ta...,Twitter for iPhone,NaN,NaN,False,261795,29,NaN,44514,19381,False,en
124351,1256010321107525636,JaySnapps,A Tribute to the Pirate Graduates of 2020\n\nA...,Twitter Web App,NaN,NaN,False,8893,13,NaN,747,643,False,en
124352,1256010367915917313,GovLarryHogan,"As #WorldAutismMonth draws to a close, we reco...",Twitter Web App,NaN,NaN,False,5204,57,NaN,179919,928,True,en

In [27]:
frame.to_csv("merged-and-pruned-dataset.csv", index=False)